[**nostr-crypto-utils v0.3.0**](../README.md)

***

[nostr-crypto-utils](../globals.md) / ValidationResult

# Interface: ValidationResult

## Properties

### error?

> `optional` **error**: `string`

#### Defined in

types.ts:26

***

### isValid

> **isValid**: `boolean`

#### Defined in

types.ts:25
