[**nostr-crypto-utils v0.4.1**](../README.md)

***

[nostr-crypto-utils](../README.md) / ValidationResult

# Interface: ValidationResult

Result of a validation operation

## Properties

### error?

> `optional` **error**: `string`

Error message if validation failed

#### Defined in

[types/base.ts:113](https://github.com/HumanjavaEnterprises/nostr-crypto-utils/blob/9c160331e9485dc52c520a832e977c4e54bbdc89/src/types/base.ts#L113)

***

### isValid

> **isValid**: `boolean`

Whether the validation passed

#### Defined in

[types/base.ts:111](https://github.com/HumanjavaEnterprises/nostr-crypto-utils/blob/9c160331e9485dc52c520a832e977c4e54bbdc89/src/types/base.ts#L111)
